@{
    ViewData["Title"] = "Ana Sayfa";
    <link rel="shortcut icon" href="raven.ico" />
}

<div class="text-center">


    <h1 class="display-4">RavenDesignPage-Welcome</h1>

    <hr /><h1 style="color:blueviolet; text-align:center;">Yapım aşamasındaki sitemize hoş geldiniz</h1><hr />

    <pre>

        Sizler için,

            bizim sizlere daha iyi hizmet verebilmemiz için,

                yapım aşaması bitene kadar sizlerden bir fincan sabır rica edebilirmiyiz? :)
                    
                    sevgi ile kalın...


    </pre>

    <p>Daha Fazla Biz <a href="https://ravendesignpage.wixsite.com/ravendesignpage">Tasarım yaşam tarzıdır.</a>.</p>
</div>
